
<div class='image-wrapper'>
	<ul class='lecture-img' id='lecture-img-sortable'>
<!--button id='change-img-order'>Update</button-->

		<% media.each do |element| %>
   <li id=<%=element.id %>>
    <%= simple_form_for element, :html => { :class => 'form-horizontal' }, :remote => true  do |f| %>
    <div> 
     <%= image_tag element.source.url%>
   </div>
   <div><%= element.name %></div>
   <div>Id: <%= element.id %></div>
   <div><%= element.created_at %></div>
   <div>Order: <%= element.order %></div>
   <%= f.input :name, input_html: {id: "image-name"} %>

   <!--%= form_remote_tag(:url => {:action => 'update'},
    :update => "image-name", :position => :bottom,
    :html => {:id => 'image_form'})%-->
   <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
      <!--%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_image_path(element), :class => 'btn' %-->
  </div>
  <div> <%= link_to 'Delete', '#', :class => 'btn btn-mini btn-danger' %> </div>
  <% end %>
</li>
<% end %>
</ul>

</div>
