 
<div class='image-wrapper'>
	<ul class='lecture-img' id='lecture-img-sortable'>
<!--button id='change-img-order'>Update</button-->

		<% media.each do |element| %>
   <li id=<%=element.id %>>
    <%= simple_form_for element, :html => { :class => 'form-horizontal' } do |f| %>
    <div> 
     <% if element.attributes['url'] %>
     <%= image_tag element.url %>
     <% end %> 
   </div>
   <div><%= element.name %></div>
   <div>Id: <%= element.id %></div>
   <div><%= element.created_at %></div>
   <div>Order: <%= element.order %></div>
   <%= f.input :name %>
   <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
  </div>
  <div> <%= link_to 'Delete', '#', :class => 'btn btn-mini btn-danger' %> </div>
  <% end %>
</li>
<% end %>
</ul>

</div>
