<%= render '/lectures/editor_toolbar'%>
<div id="editor">
  Go ahead
</div>
<ul>
<% media.each do |note| %>
<li class='note_<%= note.id%>'>
  <div class='note_name'>
    <%= note.name %>
  </div>
  <%= simple_form_for note, :html => { :class => 'form-horizontal' }, :remote => true  do |f| %>
  <button class='btn btn-mini edit_note'>Edit</button>
  <!--div class='note_text' id="editor"-->
  <%= render '/lectures/editor_toolbar'%>
    <%=f.input :text, input_html: { value: note.text, id: "editor"} %>
    <%=f.submit %>
  <!--/div-->
  <% end %>
</li>
<% end %>
</ul>
