<%= render '/lectures/editor_toolbar'%>
<!--div id="editor">
  Go ahead
</div-->
<ul>
<% media.each do |note| %>
<li class='note_<%= note.id%>'>
  <div class='note_name'>
    <%= note.name %>
  </div>
  <%= form_for note, remote: true, url: {controller: "notes", action: "update"}, method: "get", html: { :class => 'form-horizontal' } do |f| %>
  <button class='btn btn-mini edit_note'>Edit</button>
  <!--div class='note_text' id="editor"-->
  <%= hidden_field_tag :id, note.id %>
  <%= render '/lectures/editor_toolbar'%>
    <!--%=f.input :text, input_html: { value: note.text, id: "editor"} %-->
    <%= f.text_field :text, :value=>note.text %>
    <!--%=f.submit %-->
  <!--/div-->
  <% end %>
</li>
<% end %>
</ul>
