<h1>Lecture: <%= @lecture.name%></h1>
<p>Work in Progress. Please note that content below represents the stored media for this lecture, but is horribly static. All this content will be avaliable dynamically.</p>

<h3>Notes:</h3>

 <p> Note that notes are the only (planned) media that can be created from the site. We may add manual uploads of images (i.e. not loaded in directly from the app.)</p>

<!--%= render '/lectures/media_placeholder', :media => @notes %-->
<%= render '/lectures/note_viewer', :media => @notes %>
<h3>Audio:</h3>
<%= render '/lectures/media_placeholder', :media => @audio %>

<h3>Video:</h3>
<%= render '/lectures/media_placeholder', :media => @video %>

<h3>Images:</h3>

<p>Click the black dot, drag images up and down. Reload the page, note that the order of the images is retained. Note that its a little buggy, ensure the entire frame of the image is dragged past the new image. </p>
<!--%= render '/lectures/media_placeholder', :media => @images %-->
<%= render '/lectures/image_viewer', :media => @images %>